/* FAQ Container */
#faq_container {
	padding: 30px 50px 60px;
}
#faq_title {
	font-size: 200%;
}
#faq_table td.question {
	width: 30%;
	font-style: italic;
	padding-right: 15px;
	color: #1abc9c;
}
#faq_table td.answer {
	padding: 10px 0;
}


/* Logistics */
#logistics, #more_info {
	margin: 0 auto;
	text-align: center;
}
#logistics {
	margin-top: 100px;
}
#logistics div, #more_info div {
	text-align: center;
	margin: 0 120px;
	display: inline-block;
	vertical-align: top;
}
#logistics p, #more_info p {
	font-size: 150%;
	color: #566;
	margin-bottom: 10px;
}
#logistics img, #more_info img {
	margin-bottom: 20px;
}
#copyright {
	margin: 40px 15px 0 0;
	text-align: right;
	font-size: 80%;
}
