html, body {
    margin: 0 auto;
}

.italic {
        font-style: italic;
}


a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.transition {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#logo-text {
    font-weight: bold;
    font-size: 18px;
}

#admin-logo {
    color: red;
    font-size: 13px;
    position: relative;
    top: -10px;
    left: 5px;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
    from {
        color: #749a02;
        -webkit-text-shadow: 0 0 9px #333;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        color: #91bd09;
        -webkit-text-shadow: 0 0 18px #91bd09;
        -webkit-box-shadow: 0 0 18px #91bd09;
    }
    to {
        color: #749a02;
        -webkit-text-shadow: 0 0 9px #333;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

.navbar {
    z-index: 100;
}

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
