body {
  padding-top: 51px;
}

.navbar {
  z-index: 100;
}

#console {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 	background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  pointer-events: none;
	border-radius: 0px 0px 10px 10px;
}

#console:target {
  top: 50px;
  height: 400px;
	pointer-events: auto;
}

