body {
  /*padding-top: 51px;*/
}

a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.transition {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

#logo-text {
  font-weight: bold;
  font-size: 18px;
}

#admin-logo {
  color: red;
  font-size: 13px;
  position: relative;
  top: -10px;
  left: 5px;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
  from {
    color: #749a02;
    -webkit-text-shadow: 0 0 9px #333;
    -webkit-box-shadow: 0 0 9px #333;
  }
  50% {
    color: #91bd09;
    -webkit-text-shadow: 0 0 18px #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }
  to {
    color: #749a02;
    -webkit-text-shadow: 0 0 9px #333;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

.navbar {
  z-index: 100;
}

#console {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  pointer-events: none;
	border-radius: 0 0 10px 10px;
}

#console:target {
  top: 50px;
  height: 400px;
  pointer-events: auto;
}

#code_container {
  float: left;
  width: 50%;
}

#output_container {
  float: right;
  width: 50%;
}

