#run_container {
  margin: 10px 0;
}

.left {
  margin: 0px 5px 0px 0px;
}

#give_up {
  float: right;
}

pre {
  max-height: 500px;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

.output-pre {
  max-height: 150px;
}

.modal {
  z-index: -1;
}
