body {
}
#container {
	margin: 0 auto;
}

.italic {
	font-style: italic;
}
.navbar-inner {
	background-image: none;
	background-color: rgba(0,0,0,0.6);
	background-border: none;
}

/* Parallax */
.parallax_block {
	height: 90%;
	padding-top: 20%;
	background-size: cover;
}
.parallax_block p {
	font-size: 300%;
	width: 50%;
	color: #FFF;
	margin-left: 10%;
	line-height: 100%;
}
div.bg1 {
	background-image: url('/static/img/parallax/1.jpg');
}
div.bg2 {
	background-image: url('/static/img/parallax/2.jpg');
}
div.bg3 {
	background-image: url('/static/img/parallax/3.jpg');
}
div.bg4 {
	background-image: url('/static/img/parallax/4.jpg');
}
div.bg5 {
	background-image: url('/static/img/parallax/5.jpg');
}
div.bg6 {
	background-image: url('/static/img/parallax/6.jpg');
}

/* Intro */

/* FAQ Container */
#faq_container {
	padding: 60px 50px;
	/*height: 90%;*/
}
#faq_title {
	font-size: 200%;
}
#faq_table td.question {
	width: 30%;
	font-style: italic;
	padding-right: 15px;
	color: #1abc9c;
}
#faq_table td.answer {
	padding: 10px 0;
}


/* About */

/* logistics */
#logistics {
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
}
#logistics div {
	text-align: center;
	margin: 0 120px;
	display: inline-block;
	vertical-align: top;
}
#logistics p {
	font-size: 150%;
	color: #566;
	margin-bottom: 10px;
}
#logistics img {
	margin-bottom: 20px;
}


