#program_title {
  margin: 2px;
  padding: 0 5px;
  font-size: 36px;
  line-height: 50px;
  display: inline-block;
}

#program_title:hover {
  background-color: cyan;
  cursor: pointer;
}

#turtle_canvas {
  margin: 10px;
  border: 1px solid black;
}

#run_container {
  margin: 10px 0;
}

#save_msg {
  margin: 0 5px;
}

#fullscreen_col {
  background-color: rgba(255,255,255, 0.6);
}

#lab_code {
  height: 237px;
}

#workspace_code {
  height: 333px;
}

#admin_code {
  height: 333px;
}
