{% extends "base.html" %}

{% block title %}
Teacher Dashboard
{% endblock %}

{% block head %}
<script type="text/javascript">
  var students = [];
  var id_map = {};
  {% for student in students %}
  students.push("{{ student.firstname }} {{ student.lastname }}");
  id_map[{{ student.id }}] = "{{ student.firstname }} {{ student.lastname }}";
  {% endfor %}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
{% endblock %}

{% block content %}
<div style="width:90%; margin:auto">
  <h2>Students</h2>
  <table class="table table-bordered table-striped table-hover sortable">
    <thead>
      <tr>
        <th>Id</th>
        <th> Practice Problems Attempted </th>
        <th>Email</th>
        <th>Website</th>
        <th>First</th>
        <th>Last</th>
        {% for assignment in assignments %}
        <th>{{ assignment.name }} ({{ assignment.points }})</th>
        {% endfor %}
        <th>Course Total</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.id }}</td>
        <!--TODO show all language attempts -->
        <td><a href="/admin/practice_progress/{{ student.id }}/javascript">{{ student.num_practice_attempted }}</a> </td>
        <td>{{ student.email }}</td>
        <td>
        {% if student.website %}
          <a href="{{ student.website }}">{{ student.website }}</a>
        {% else %}
          N/A
        {% endif %}
        </td>
        <td>{{ student.firstname }}</td>
        <td>{{ student.lastname }}</td>
        {% for grade in student.grades %}
        {% if grade.completed %}

        <td>
          {% if grade.score/grade.points > 0.7 %}
          <span class="badge badge-success">{{ grade.score }}/{{ grade.points }}</span>
          {% elif grade.score/grade.points > 0.4 %}
          <span class="badge badge-warning">{{ grade.score }}/{{ grade.points }}</span>
          {% else %}
          <span class="badge badge-important">{{ grade.score }}/{{ grade.points }}</span>
          {% endif %}
        </td>
        {% else %}
        <td><span class="badge badge-info">N/A</span></td>
        {% endif %}
        {% endfor %}
        <td>
          {% if student.total_points != 0 %}
            {% if student.total_score/student.total_points > 0.7 %}
            <span class="badge badge-success">{{ student.total_score }}/{{ student.total_points }}</span>
            {% elif student.total_score/student.total_points > 0.4 %}
            <span class="badge badge-warning">{{ student.total_score }}/{{ student.total_points }}</span>
            {% else %}
            <span class="badge badge-important">{{ student.total_score }}/{{ student.total_points }}</span>
            {% endif %}
          {% else %}
            <span class="badge badge-info">N/A</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <!-- TODO IN FUTURE integrate this so that we can view a student's submission, code, and tests on the same screen as submitting grade -->
  <div class="container">
    <h3> Add Grades </h3>
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="assignment_name">Assignment</label>
        <div class="controls">
          <select id="assignment_id">
            <option> Choose an assignment </option>
            {% for assignment in assignments %}
            <option value="{{ assignment.id }}"> {{ assignment.name }} ({{ assignment.points }})</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="student_name">Student Name</label>
        <div class="controls">
          <input type="text" id="student_name" placeholder="Student Name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="assignment_score">Score</label>
        <div class="controls">
          <input type="text" id="assignment_score" placeholder="Score (press enter to submit)">
        </div>
      </div>

      <a class="btn btn-medium btn-success" id="submit_grade">Submit</a>
    </form>
  </div>

  <h2>Not students</h2>
  <table class="table table-bordered table-striped table-hover sortable">
    <thead>
      <tr>
        <th>Id</th>
        <th> Practice Problems Attempted </th>
        <th>Email</th>
        <th>First</th>
        <th>Last</th>
        {% for assignment in assignments %}
        <th>{{ assignment.name }} ({{ assignment.points }})</th>
        {% endfor %}
        <th>Course Total</th>
      </tr>
    </thead>
    <tbody>
      {% for nonstudent in nonstudents %}
      <tr>
        <td>{{ nonstudent.id }}</td>
        <!--TODO show all language attempts -->
        <td><a href="/admin/practice_progress/{{ nonstudent.id }}/python">{{ nonstudent.num_practice_attempted }}</a> </td>
        <td>{{ nonstudent.email }}</td>
        <td>{{ nonstudent.firstname }}</td>
        <td>{{ nonstudent.lastname }}</td>
        {% for grade in nonstudent.grades %}
        {% if grade.completed %}
        <td>
          {% if grade.score/grade.points > 0.7 %}
          <span class="badge badge-success">{{ grade.score }}/{{ grade.points }}</span>
          {% elif grade.score/grade.points > 0.4 %}
          <span class="badge badge-warning">{{ grade.score }}/{{ grade.points }}</span>
          {% else %}
          <span class="badge badge-important">{{ grade.score }}/{{ grade.points }}</span>
          {% endif %}
        </td>
        {% else %}
        <td><span class="badge badge-info">N/A</span></td>
        {% endif %}
        {% endfor %}
        <td>
          {% if nonstudent.total_points != 0 %}
            {% if nonstudent.total_score/nonstudent.total_points > 0.7 %}
            <span class="badge badge-success">{{ nonstudent.total_score }}/{{ nonstudent.total_points }}</span>
            {% elif nonstudent.total_score/nonstudent.total_points > 0.4 %}
            <span class="badge badge-warning">{{ nonstudent.total_score }}/{{ nonstudent.total_points }}</span>
            {% else %}
            <span class="badge badge-important">{{ nonstudent.total_score }}/{{ nonstudent.total_points }}</span>
            {% endif %}
          {% else %}
            <span class="badge badge-info">N/A</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
