{% extends "base.html" %}

{% block title %}
About
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block content %}
<div id="container">
  <div style="text-align: right; padding-right: 10px;">You can view the fall 2013 schedule <a href="/about/fa13">here</a></div>
{% if weeks %}
<div class="container">
<h1> Class Calendar </h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Week</th>
      <th>Lessons</th>
      <th>Lab</th>
      <th>Assignment</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody>
  {% for week in weeks %}
    <tr>
      <td> {{ week.id }} </td>
      <td>
        {% for sublesson in week.lesson.sublessons %}
        <a href="/lessons/{{ sublesson.link }}"> {{ sublesson.name }} </a>
        <br>
        {% endfor %}
      </td>
      <td>
        {% if week.quiz is defined %}
        <a href = "/quiz/{{ week.quiz.week }}">{{ week.quiz.name }} </a>
        <br>
        {% endif %}
      </td>
      <td>
        <a href="/assignments/{{ week.assignment.id }}">{{ week.assignment.name }}</a><br>
      </td>
      <td>{{ week.assignment.deadline.strftime('%A, %B %d @ %I:%M%P') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
  <center><h1> ARE YOU READY TO PROGRAM?</h1></center>
  <center><a id="play_power" class="btn btn-success">Yes</a> <a id="leave" class="btn btn-error">Nope</a></center>
  <br>
  <center>If you get a message "COMMIT FAILED" when trying to run <b>git commit</b>,</center>
  <center>run <b>rm .git/hooks/pre-commit</b> from your myfirstwebsite folder.</center>
  <center>After running this, you should be able to redo your commit and continue!.</center>
  <br>
  <div class="container">
    <h1>Cheat Sheets</h1>
    <h4><a target="_blank" href="http://sites.tufts.edu/cbi/files/2013/01/linux_cheat_sheet.pdf">Unix Command Line Cheat Sheet</a></h4>
  </div>
  <br>
  <div class="container">
<h1> Class Calendar </h1>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Week</th>
      <th>Date</th>
      <th>Lecture</th>
      <th>Lab</th>
      <th>Readings (by next week)</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>0</td>
    <td>Feb. 5</td>
    <td>None</td>
    <td>None</td>
    <td><a href="http://eloquentjavascript.net/2nd_edition/preview/index.html">Eloquent Javascript, Introduction and Ch. 1</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td>Feb. 12</td>
    <td><a href="https://docs.google.com/presentation/d/1Sd-2B3APk3GXxBRYRP_YrRzc9kzW-13diAwKIbEZxGo/pub?start=false&loop=false&delayms=3000#slide=id.gffd0c860_028">What is programming?</a></td>
    <td><a href="https://docs.google.com/document/d/1RA0P097KZLwZp_zAB63HOQVCcE5z8W6p9osu3HjGjww/pub">Dancing Pocket Calculator</a></td>
    <td><a href="http://eloquentjavascript.net/2nd_edition/preview/02_program_structure.html">EJ, Ch. 2 through "Conditional Execution"</a></td>
  </tr>
  </tbody>
</table>
</div>
  <script>
    $('#play_power').click(function() {
      $('#i_got_the_power')[0].play();
    });
    $('#leave').click(function() {
      window.location.href='http://lmgtfy.com/?q=how+to+be+a+boring+person';
    });
  </script>
  <div id="logistics">
    <div id="time">
      <img src="{{url_for('static', filename='img/icons/14.png')}}">
      <p>Wednesday 6-8pm</p>
    </div>
    <div id="units">
      <img src="{{url_for('static', filename='img/icons/8.png')}}">
      <p>2 units</p>
    </div>
    <div id="location">
      <img src="{{url_for('static', filename='img/icons/5.png')}}">
      <p>405 Soda Hall</p>
    </div>
  </div>
  {% include "faq.html" %}
  <div id="more_info">
    <div id="apply">
      <a href="https://docs.google.com/forms/d/1eLxIhIyO3fhanXlbFwBI-SCNf0xBclBqdLZkrtn-sRE/viewform" target="_blank">
        <img src="{{url_for('static', filename='img/icons/clipboard.png')}}">
        <p>Apply</p>
      </a>
    </div>
    <div id="contact">
      <img src="{{url_for('static', filename='img/icons/bubble.png')}}">
      <p>Contact us at:</p>
      <p>programmingfeelthepower AT gmail.com</p>
    </div>
  </div>
  <div id="instructors">
  </div>
  <div id="copyright">
    <p>design by <a href="http://jiannmok.com" target="_blank">Jiann Mok</a></p>
  </div>
</div>

{% endblock %}
