{% extends "base.html" %}

{% block title %}
Admin Submission
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/ace/ace.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulptjs/dist/skulpt.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulptjs/dist/skulpt-stdlib.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/admin_submission.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace.css')}}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span6">
      <span id="program_title">{{ assignment.name}} for {{ user.firstname }} {{ user.lastname }}</span>
      <pre id="admin_code">{{ submission.code }}</pre>
      <div id="run_container">
        <button id="run_code" class="btn btn-success">Run It!</button>
      </div>
      <pre id="output"></pre>
    </div>
    <div class="span6">
      <canvas id="turtle_canvas" width="500" height="500"></canvas>
      <a class="btn btn-success" id="save_canvas">Save Image!</a>
    </div>
  </div>
</div>
{% endblock %}
