{% extends "base.html" %}

{% block title %}
Assignments
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <table border="1px">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Score</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
    {% for assignment in assignments %}
      <tr>
        <td>{{ assignment.name }}</td>
        <td>{{ assignment.description }}</td>
        <td>N/A</td>
        <td>{{ assignment.points }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
