<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/flatly/bootstrap.min.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div id="navbar" class="navbar">
      <a href="/"><div class="navbar_item">Home</div></a>
      <a href="/lessons/intro.html"><div class="navbar_item">Lessons</div></a>
      <a href="/practice/ex1"><div class="navbar_item">Practice</div></a>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
