<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery-2.0.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/sorttable/sorttable.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/flatly/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}" />

    <!-- TODO current using below for autocomplete but need to add actual jquery ui stuff later (choose a theme) -->
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <audio id="i_got_the_power" src="{{ url_for('static', filename='snd/i_got_the_power.mp3') }}"></audio>

    <!-- for fun -->
    <script type="text/javascript">
      var home = function() {
        if (Math.random() > 0.9) {
          $('#i_got_the_power')[0].play();
          setTimeout(function() {
            document.location.href = '/';
          }, 1700);
        } else
          document.location.href = '/';
      };
    </script>

    {% block head %}
    {% endblock %}
  </head>
  <body>
  <div id="nav_console">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <ul class="nav">
          <li><a id="logo-text" onclick="home()">Programming: Feel the Power{% if current_user.is_authenticated() and current_user.is_admin() %}<span id="admin-logo">[Admin]</span>{% endif %}</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="/about">About</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Practice <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                  <a role="meuitem" tabindex="-1" href="/practice/javascript/">JavaScript</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/practice/python/">Python</a>
                </li>
              </ul>
          </li>
          {% if current_user.is_authenticated() %}
          <li><a href="/homework/calendar/">Homework</a></li>
          <li><a href="/dashboard/">Dashboard</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Welcome, {{ current_user.firstname }} <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/settings">Settings</a>
                </li>
                 <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="/logout">Logout</a>
                </li>
              </ul>
          </li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div style="padding-bottom: 1.75cm"></div>
  {% block content %}
  {% endblock %}
  </body>
</html>
