{% extends "base.html" %}

{% block title %}
Course Info
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/course_info.css')}}">
{% endblock %}

{% block content %}
<div id="title_container">
  <div id="title">Programming: Feel the Power</div>
  <div id="subtitle">DeCal Fall 2013</div>
</div>
<div id="blurb_container">
  <div class="large">Hello!</div>
  <div class="medium">
    You look like you want to learn to write code, and we want to guide you.
  </div>
  <div class="large">Why?</div>
  <div class="small">
    Because we think it's important that you understand the computing devices
    that are omnipresent in all of our lives.
  </div>
  <div class="small">
    Because the demand for quality computer scientists in this world is
    outpacing supply, and you can help bridge the gap.
  </div>
  <div class="small">
    And, most of all, because coding is a ton of fun once you get the hang of
    it.
  </div>
  <img id="uncle_sam" src="{{url_for('static', filename='img/unclesammeme.png')}}" title="America Needs You">
</div>
<div id="faq_container">
  <div id="faq_title">FAQ, What Da</div>
  <div class="faq_header">
    How much programming experience should I have coming into this course?
  </div>
  <p>
  None. Nada. Zip. Zero. The course is designed to teach you from the ground up!
  </p>
  <div class="faq_header">What will I actually learn from this course?</div>
  <p>
  You will learn Python, our favorite programming language for just Getting
  Stuff Done. You'll start by drawing a bunch of things with turtle graphics,
  which is built into Python for learning purposes. About halfway through the
  course, we'll dive into realer world applications such as web scraping, data
  processing, and writing your own simple website.
  </p>
  <div class="faq_header">Will you teach me to make my website beautiful?</div>
  <p>
  Unfortunately, no. Though we'll touch on web development, we will NOT be
  teaching you how to make a nice-looking website, aka web design. For that, the
  folks over at
  <a href="http://www.thewebdesignworkshop.co">The Web Design Workshop</a>
  seem to know what they're doing.
  </p>
  <div class="faq_header">Did anybody actually ask any of these questions?</div>
  <p>
  Nope
  </p>
</div>
<div id="logistics_container">
  Logistics!
  2 Units
  3-5pm Wednesday
  Talk about attendance, grading, etc.
</div>
{% endblock %}
