{% extends "base.html" %}

{% block title %}
Course Info
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/parallax.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/site.css')}}">
{% endblock %}

{% block content %}
<div id="container" class="intro">
  <div class="parallax_block bg1">
    <p class="italic title_indent hello">Hello!</p>
  </div>
  <div class="parallax_block bg2">
    <p>You look like you want to learn to write code, and we want to guide you.</p>
  </div>
  <div class="parallax_block bg3">
    <p class="italic title_indent">Why?</p>
  </div>
  <div class="parallax_block bg4">
    <p>Because we think it's important that you understand the computing devices
    that are omnipresent in all of our lives.</p>
  </div>
  <div class="parallax_block bg5">
    <p>Because the demand for quality computer scientists in this world is
    outpacing supply, and you can help bridge the gap.</p>
  </div>
  <div class="parallax_block bg6">
    <p>And, most of all, because coding is a ton of fun once you get the hang of
    it.</p>
  </div>
</div>
<div id="faq_container">
  <p id="faq_title">FAQ</p>
  <table id="faq_table">
    <tr>
      <td class="question">How much programming experience should I have coming into this course?</td>
      <td class="answer">None. Nada. Zip. Zero. The course is designed to teach you from the ground up!</td>
    </tr>
    <tr>
      <td class="question">What will I actually learn from this course?</td>
      <td class="answer">You will learn Python, our favorite programming language for just Getting
        Stuff Done. You'll start by drawing a bunch of things with turtle graphics,
        which is built into Python for learning purposes. About halfway through the
        course, we'll dive into realer world applications such as web scraping, data
        processing, and writing your own simple website.</td>
    </tr>
    <tr>
      <td class="question">Will you teach me to make my website beautiful?</td>
      <td class="answer">Unfortunately, no. Though we'll touch on web development, we will NOT be
      teaching you how to make a nice-looking website, aka web design. For that, the
      folks over at
      <a href="http://www.thewebdesignworkshop.co" target="_blank">The Web Design Workshop</a>
      seem to know what they're doing.</td>
    </tr>
    <tr>
      <td class="question">Did anybody actually ask any of these questions?</td>
      <td class="answer">Nope</td>
    </tr>
    <tr>
      <td class="question">What should I know about class logistics?</td>
      <td class="answer">We meet 3-5pm on Wednesdays and this class is worth 2 units.</td>
    </tr>
  </table>
</div>
{% endblock %}
