{% extends "base.html" %}

{% block title %}
Course Info
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/parallax.js')}}"></script>
{% endblock %}

{% block content %}
<div id="container" class="intro">
  <div class="parallax_block bg1">
    <p class="title_indent hello">Hello!</p>
  </div>
  <div class="parallax_block bg2">
    <p>You look like you want to learn to write code, and we want to guide you.</p>
  </div>
  <div class="parallax_block bg3">
    <p class="italic title_indent">Why?</p>
  </div>
  <div class="parallax_block bg4">
    <p>Because we think it's important that you understand the computing devices
    that are omnipresent in all of our lives.</p>
  </div>
  <div class="parallax_block bg5">
    <p>Because the demand for quality computer scientists in this world is
    outpacing supply, and you can help bridge the gap.</p>
  </div>
  <div class="parallax_block bg6">
    <p>And, most of all, because coding is a ton of fun once you get the hang of
    it.</p>
  </div>
</div>
{% include "faq.html" %}
<script type="text/javascript" src="{{url_for('static', filename='lib/nicescroll/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript">$('html').scrollTop(1);$('html').scrollTop(0);</script>
{% endblock %}
