{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Assignment</th>
      <th>Description</th>
      <th>Due date</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
  {% for grade in grades %}
    <tr>
      <td>{{ grade.assignment.name }}</td>
      <td>{{ grade.assignment.description }}</td>
      <td></td>
      <td>
      {% if grade.score/grade.assignment.points > 0.7 %}
      <span class="badge badge-success">{{ grade.score }}/{{ grade.assignment.points }}</span>
      {% elif grade.score/grade.assignment.points > 0.4 %}
      <span class="badge badge-warning">{{ grade.score }}/{{ grade.assignment.points }}</span>
      {% else %}
      <span class="badge badge-important">{{ grade.score }}/{{ grade.assignment.points }}</span>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
{% endblock %}
