{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/dashboard.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}" />
{% endblock %}

{% block content %}
<div class="container">
  <h3>Assignments</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Assignment</th>
        <th>Due date</th>
        <th>Submission</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    {% for assignment in context.assignments %}
    <tr>
      <td><a href="/assignments/{{ assignment.id }}">{{ assignment.name }}</a></td>
      <td>{{ assignment.deadline.strftime('%A, %B %d @ %I:%M%P') }}</td>
      <td>
        {% if assignment.submission %}
        <a class="btn btn-small btn-primary view-submission" data-assignment-name="{{ assignment.name }}" data-submission-code="{{ assignment.submission.code }}" data-toggle="modal" href="#view_modal">View</a>
        <a class="btn btn-small btn-primary submit-assignment" data-assignment-id="{{ assignment.id }}" data-assignment-name="{{ assignment.name }}" data-toggle="modal" href="#submit_modal">Resubmit</a>
        {% else %}
        <a class="btn btn-small btn-primary submit-assignment" data-assignment-id="{{ assignment.id }}" data-assignment-name="{{ assignment.name }}" data-toggle="modal" href="#submit_modal">Submit</a>
        {% endif %}
      </td>
      <td>
        {% if assignment.graded %}
        {% if assignment.score/assignment.points > 0.7 %}
        <span class="badge badge-success">{{ assignment.score }}/{{ assignment.points }}</span>
        {% elif assignment.score/assignment.points > 0.4 %}
        <span class="badge badge-warning">{{ assignment.score }}/{{ assignment.points }}</span>
        {% else %}
        <span class="badge badge-important">{{ assignment.score }}/{{ assignment.points }}</span>
        {% endif %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td><b>Course grade</b></td>
      <td></td>
      <td>
        {% if context.total_score/context.total_points > 0.7 %}
        <span class="badge badge-success">{{ context.total_score }}/{{ context.total_points }}</span>
        {% elif context.total_score/context.total_points > 0.4 %}
        <span class="badge badge-warning">{{ context.total_score }}/{{ context.total_points }}</span>
        {% else %}
        <span class="badge badge-important">{{ context.total_score }}/{{ context.total_points }}</span>
        {% endif %}
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>
</div>
<div id="submit_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Submit <span class="submit-assignment-name"></span></h4>
      </div>
      <div id="submit_modal_body" class="modal-body">
        Choose a workspace program to submit for <span class="submit-assignment-name"></span>:
        <div class="btn-group">
          <button type="button" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
            <span id="submit_program_title">Choose Program</span> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            {% for program in context.programs %}
            <li><a href="#" class="choose-program" data-program-id={{ program.id }}>{{ program.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button id="submit_ok" class="btn btn-primary">Submit!</button>
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div id="view_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Submission for <span id="view_submission_name"></span></h4>
      </div>
      <div class="modal-body">
        <pre id="view_submission_code"></pre>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
