<div id="faq_container">
  <p id="faq_title">FAQ</p>
  <table id="faq_table">
    <tr>
      <td class="question">How much programming experience should I have coming into this course?</td>
      <td class="answer">None. Nada. Zip. Zero. The course is designed to teach you from the ground up!</td>
    </tr>
    <tr>
      <td class="question">Do I need a strong math background to take this DeCal?</td>
      <td class="answer">If you can do arithmetic, you're good to go.</td>
    </tr>
    <tr>
      <td class="question">Will there be homework?</td>
      <td class="answer">Yes but we don't like homework just as much as you.</td>
    </tr>
    <tr>
      <td class="question">Will the lectures and readings be available online?</td>
      <td class="answer">The readings are all online and we will do our best to webcast lectures so you can review.</td>
    </tr>
    <tr>
      <td class="question">What will I actually learn from this course?</td>
      <td class="answer">You will learn Javascript, the scripting language of the internet.
        You'll start by building a personal website, and learn how to use Javascript to add interactivity.
        About halfway through the course, we'll dive into some real world applications such as games, web scraping, data processing, and building a full web application.</td>
    </tr>
    <tr>
      <td class="question">Will you teach me to make my website beautiful?</td>
      <td class="answer">Unfortunately, no. Though we'll touch on web development, we will NOT be
      teaching you how to make a nice-looking website, aka web design. For that, the
      folks over at
      <a href="http://www.thewebdesignworkshop.co" target="_blank">The Web Design Workshop</a>
      seem to know what they're doing.</td>
    </tr>
    <tr>
      <td class="question">Is attendance mandatory?</td>
      <td class="answer">Yes</td>
    </tr>
    <tr>
      <td class="question">Did anybody actually ask any of these questions?</td>
      <td class="answer">Nope</td>
    </tr>
  </table>
</div>
