{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
	<center> <h1> HTML Cheat Sheet  </h1> </center>
	<h4> <a href="#divs">Divs</a> </h4>

	<a id="divs">&nbsp</a><br><br>
        <h2>Divs</h2>
	<div class="indent">
	  <h4> Nesting Divs</h4>
<pre>&lt;div&gt;stuff&lt;/div&gt;
</pre>
	</div>
      <div class="span1"></div>
    </div>
  </div>
{% endblock %}
