{% extends "base.html" %}

{% block title %}
Programming: Feel the Power
{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div>
  <div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
        <h1 class="headline">Are You Ready to Feel the Power?</h1>
        <br>
        <h4 class="headline">
          Learn how to program in Python and Javascript today.
        </h4>
      </center>
      <br>
      <br>
      <br>
      <center>
        <a href="/about" class="btn btn-large btn-success">View Lessons</a>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <div class="btn-group">
          <a class="btn btn-large btn-info dropdown-toggle" data-toggle="dropdown" href="#">
            Start Practicing!
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/practice/python">Python</a></li>
            <li><a href="/practice/javascript">Javascript</a></li>
          </ul>
        </div>
      </center>
      <br>
      <br>
      <br>
    </div>
  </div>

  <div class="banner white long">
    <div class="container">
      <br>
      <br>
      <div class="row">
        <div class="span4">
          <center>
            <h3>Embedded Editor</h3>
          </center>
          <img src="/static/img/editor.png"/>
          <p>
            Use the embedded <a href="http://ace.c9.io">Ace editor</a> to get started without any setup on your computer
          </p>
        </div>
        <div class="span4">
          <center>
            <h3>Practice Problems</h3>
          </center>
          <img src="/static/img/practice.png"/>
          <p>
            An virtually endless bank of practice problems personalized for your ability level
          </p>
        </div>
        <div class="span4">
          <center>
            <h3>Online Curriculum</h3>
          </center>
          <img src="/static/img/curriculum.png"/>
          <p>
            A free set of lectures, labs, and readings to get you started in Javascript and Python
          </p>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <center class="headline">Created at Cal by <a href="http://github.com/pftp">@pftp</a></center>
        <br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
