{% extends "base.html" %}

{% block title %}
Lab {{ lab_id }}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/ace/ace.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulptjs/dist/skulpt.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulptjs/dist/skulpt-stdlib.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lab/lab' ~ lab_id ~ '.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/lab.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace.css')}}" />
<script type="text/javascript">
  if (lab_fullscreen) {
    //use for offline terminal labs
    $(document).ready(function() {
      $('#fullscreen_div').removeClass('span6').addClass('span12');
      $('#lab_text_container').removeAttr('style');
      $('#lab_text').removeAttr('style');
      $('#online_lab').hide();
      $('#canvas_container').removeClass('span6').hide();
      $('#lab_buttons').prependTo('#fullscreen_col');
      $('#lab_buttons').css('margin-left', '20px');
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="lab_id" style="display:none;">{{ lab_id }}</div>
    <div id="program_id" style="display:none;">{% if program %}{{ program.id }}{% else %}-1{% endif %}</div>
    <div id="section" style="display:none;">{{ section }}</div>
    <div class="span12">
      <h1>Lab {{ lab_id }}</h1>
      <div id="fullscreen_col" class="row">
        <div id="fullscreen_div" class="span6">
          <div id="lab_text_container" style="height: 200px">
            <div id="lab_text" style="overflow: auto; height: 195px;"></div></br>
        </div>
        <div id="lab_buttons" style="margin: 10px 0;">
          <button id="prev_section" class="btn btn-primary btn-small">Prev</button>
          <button id="next_section" class="btn btn-primary btn-small">Next</button>
        </div>
        <div id="online_lab">
          <pre id="lab_code">{% if program %}{{ program.code }}{% endif %}</pre>
          <button id="lab_run_code" class="btn btn-success" style="margin: 10px 0;">Run It!</button>
          {% if current_user.is_authenticated() %}
          <span id="save_msg">All changes saved</span>
          {% else %}
          <span>Login to Save Code</span>
          {% endif %}
          <pre id="lab_output"></pre>
        </div>
      </div>
      <div class="span6" id="canvas_container">
        <canvas id="turtle_canvas" width="500" height="500"></canvas>
        <a class="btn btn-success" id="save_canvas">Save Image!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
