{% extends "base.html" %}

{% block title %}
{{ language|capitalize }} Practice
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/mode/%s/%s.js' % (language, language))}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt-stdlib.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/practice_%s.js' % language)}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/lib/codemirror.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/theme/cobalt.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/practice.css')}}" />
{% endblock %}

{% block content %}
<div class="row-fluid all">
  {% if new_concepts|length > 0 %}
  <div id="sidebar" class="span2">
    <h4>New Concepts!</h4>
    <h5>Click to learn more:</h5>
    <ul>
      {% for concept_name, display_name in new_concepts %}
      <li><a href="/concept/{{ language }}/{{concept_name}}" target="_blank">{{display_name}}</a>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="span2"></div>
  {% endif %}
  <div class="span8">
    <h3>{{problem.prompt |safe}}</h3>
    <span class="label label-info">{{ language|capitalize }}</span>
    <textarea id="practice_code" style="display:none;"></textarea>
    <div id="run_container">
      <button id="practice_run_code" class="btn btn-success left">Run It!</button>
      <a href="/practice_progress/{{ language }}" target="_blank" class="btn btn-success left" >See Progress</a>
      <button id="give_up" class="btn btn-success right">Give Up</button>
      <a id="next_exercise" href="/practice/{{ language }}" class="btn btn-primary right" style="display:none;">Next Exercise</a>
    </div>
    <h4>Output:</h4>
    <pre id="practice_output" class="output-pre"></pre>
    <button id="show_hint" class="btn btn-small">Get hint</button>
    <div id="hint_wrapper" style="display:none;">
      <b>Hint:</b>
      <div id="hint">{{problem.hint |safe}}</div>
      <b>Relevant concepts:</b>
      <ul>
        {% for concept_name, display_name in concepts %}
        <li><a href="/concept/{{ language }}/{{concept_name}}" target="_blank">{{display_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div id="template_vars" style="display:none;">
  {{problem.template_vars}}
</div>
<div id="test_cases" style="display:none;">
  {{problem.test}}
</div>
<div id="concept_names" style="display:none;">
  {{problem.concept_names}}
</div>
<div id="start_time" style="display:none;">
  {{problem.start_time}}
</div>
<div id="correct_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Correct!</h4>
      </div>
      <div class="modal-body">
        <div id="correct_output_container">
          <p>Here's your output:</p>
          <pre id="correct_output" class="output-pre"></pre>
        </div>
        <p>Here's our solution:</p>
        <div id="solution_container">
          <pre id="solution" class="solution-pre"></pre>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a id="modal_next_exercise" href="/practice/{{ language }}" class="btn btn-primary">Next Exercise</a>
      </div>
    </div>
  </div>
</div>
<div id="error_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <p>Sorry, your code threw an error. Check the output box for more details.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="incorrect_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Incorrect</h4>
      </div>
      <div class="modal-body">
        <p>Sorry, your code failed at least one of our test cases.<br><br>
        <small>
          <i>"<span id="failure_quote"></span>"</i><br>
          &nbsp;&nbsp;&ndash;<span id="failure_quote_author"></span>
        </small>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div id="give_up_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Give Up???</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to give up?<br>
        <span id="no_hint_yet">If you're stuck, try clicking the "Get hint" button!</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Give it another shot</button>
        <a id="give_up_confirm" href="/practice/{{ language }}" class="btn btn-primary">Give Up!</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
