{% extends "base.html" %}

{% block title %}
Python Practice
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/mode/python/python.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt-stdlib.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/practice2/practice.js')}}"></script>
<script type="text/javascript">
$(function() {
  var start_time = new Date().getTime() / 1000;
  var got_hint = false;
  $('#show_hint').click(function(e) {
    got_hint = true;
  });
  $('#practice_run_code').click(function(e) {
    var template_vars = $('#template_vars').text().trim();
    var test_code = $('#test_cases').text().trim();
    var code = window.editor.getValue().replace(/\t/g, '   ');
    var result_no_test = '';
    var result_test = '';
    var submit_time = new Date().getTime() / 1000;
    runObj = runit(code);
    if (runObj['output'] !== undefined) {
      result_no_test = runObj['output'];
    } else {
        result_no_test = '';
    }
    testObj = {'input': code + '\n' + test_code};
    executeCode(testObj);
    if (testObj['output'] !== undefined) {
      result_test = testObj['output'];
    } else {
        result_test = '';
    }
    $.ajax({
      type: 'POST',
      url: 'submit/',
      data: {
        code: code,
        result_test: result_test,
        result_no_test: result_no_test,
        start_time: start_time,
        submit_time: submit_time,
        got_hint: got_hint,
        template_vars: template_vars
      },
      success: function(data) {
        if (data == "correct") {
          alert("Nice Job! You're done");
        } else {
          alert(data);
        }
      }
    });
  });
});

</script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/lib/codemirror.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/theme/cobalt.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/practice.css')}}" />
{% endblock %}

{% block content %}
<div class="container">
  <h3>{{problem.prompt |safe}}</h3>
  <textarea id="practice_code" style="display:none;"></textarea>
  <div id="run_container">
    <button id="practice_run_code" class="btn btn-success">Run It!</button>
    <button id="next_exercise" href="/practice/{{problem.id+1}}" class="btn btn-success" style="display:none;">Next Exercise</button>
  </div>
  <pre id="practice_output"></pre>
  <button id="show_hint" class="btn btn-small">Get hint</button>
  <div id="hint_wrapper" style="display:none;">
    <b>Hint:</b>
    <div id="hint">{{problem.hint |safe}}</div>
  </div>


  <div id="solution_wrapper" style="display:none;">
    <b>Solution:</b>
    <div id="solution"><pre>{{problem.solution}}</pre></div>
  </div>

  <div id="template_vars" style="display:none;">
    {{problem.template_vars}}
  </div>
  <div id="test_cases" style="display:none;">
    {{problem.test}}
  </div>
</div>
{% endblock %}
