{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/quiz.js')}}"></script>
{% endblock %}
{% block content %}
<div class="container" id="quiz_container">
<h2> {{ quiz.name }} </h2>
<h4> Due: {{ quiz.deadline }} </h4>
<br><br>
{% for question in quiz.questions %}
<h4> {{ question.question |safe}} </h4>
<div class="row question">
  <div class="span1"></div>
  <div class="span9">
    {% for answer_choice in question.answer_choices %}
    <div class="radio">
      <label>
        <input type="radio" name="{{ question.id }}" value="{{ question.id }},{{ answer_choice.id }}">
        {{ answer_choice.id}}. {{ answer_choice.answer |safe}}
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="span2"></div>
</div>
<br><br>

{% endfor %}
<button type="submit" class="btn btn-default" id="submit_quiz"> I'm Done! </button>
</div>
<br><br><br><br>
{% endblock %}
