{% extends "base.html" %}

{% block title %}
Workspace
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/ace/ace.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt-stdlib.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/workspace.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace.css')}}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div id="program_id" style="display:none;">{% if program %}{{ program.id }}{% else %}-1{% endif %}</div>
    <div class="span6">
      {% if current_user.is_authenticated() %}<a href="/workspace/">back</a>{% endif %}
      <span id="program_title" role="button" data-toggle="tooltip" data-placement="bottom" title="Rename">{% if program %}{{ program.title }}{% else %}Untitled Program{% endif %}</span>
      <pre id="workspace_code">{% if program %}{{ program.code }}{% endif %}</pre>
      <div id="run_container">
        <button id="run_code" class="btn btn-success">Run It!</button>
        {% if current_user.has_role('admin') %}
        <button id="run_server_code" class="btn btn-success">Run It On Server!</button>
        {% endif %}
        {% if current_user.is_authenticated() %}
        <span id="save_msg">All changes saved</span>
        {% else %}
        <span>Login to Save Code</span>
        {% endif %}
      </div>
      <pre id="output"></pre>
    </div>
    <div class="span6">
      <canvas id="turtle_canvas" width="500" height="500"></canvas>
      <a class="btn btn-success" id="save_canvas">Save Image!</a>
    </div>
  </div>
</div>
<div id="rename_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rename program</h4>
      </div>
      <div class="modal-body">
        <p>Enter a new program name:</p>
        <input type="text" id="new_program_title">
      </div>
      <div class="modal-footer">
        <button id="rename_ok" type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
