{% extends "base.html" %}

{% block title %}
Program List
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='js/workspace_home.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace_home.css')}}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="span9">
      <h3>Your Programs</h3>
    </div>
    <div class="span3">
      <br/>
      <a class="btn btn-small btn-info" href="/new_program/">Create a New Program</a>
    </div>
  </div>
  <table class="table table-bordered table-striped table-hover sortable">
    <tr>
      <th>Program Name</th>
      <th>Last Modified</th>
      <th>Actions</th>
    </tr>
    {% for program in programs %}
    <tr>
      <td><a href="/workspace/{{ program.id }}">{{ program.title }}</a></td>
      <td>{{ program.last_modified.strftime('%A, %B %d @ %I:%M%P') }}</td>
      <td>
        <a class="btn btn-small btn-danger delete-program" data-program-id="{{ program.id }}" data-toggle="modal" data-program-title="{{ program.title }}" href="#delete_modal">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<div id="delete_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete program</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the program <span id="delete_program_title">Untitled Program</span>?</p>
      </div>
      <div class="modal-footer">
        <button id="delete_ok" class="btn btn-danger">Delete Forever</button>
        <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
