{% extends "base.html" %}

{% block title %}
Workspace
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/codemirror/mode/python/python.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/skulpt.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='lib/skulpt/dist/builtin.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/workspace.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/lib/codemirror.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/codemirror/theme/cobalt.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/workspace.css')}}" />
{% endblock %}

{% block content %}
<span id="program_title" role="button" data-toggle="tooltip" data-placement="bottom" title="Rename">Untitled Program</span>
<textarea id="code_area" style="display:none;"></textarea>
<button id="run_code">Run It!</button>
<button id="save_code">Save Code</button>
<pre id="output"></pre>
<canvas id="turtle_canvas"></canvas>
<div id="rename_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rename program</h4>
      </div>
      <div class="modal-body">
        <p>Enter a new program name:</p>
        <input type="text" id="new_program_title">
      </div>
      <div class="modal-footer">
        <button id="rename_ok" type="button" class="btn btn-primary">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
